{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/connexion.css') }}">
{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div id="login-widht">
        <div id="login">
            <div class="container">

                <h3>Créer votre compte</h3>

                {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </div>
                    <div class="form-group">   
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="form-submit ">
                        {#<button type="submit" class="btn">Register</button>#}
                        <input type="submit" name="submit" value="Valider">
                    </div>
                {{ form_end(registrationForm) }}
            </div>

            <div class="container_photo">
                <img src="{{ asset ('images/logo.png') }}">
            </div>

        </div>
    </div>
{% endblock %}
