{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset ('css/acceuil.css') }}">

{% endblock %}

{% block body %}
    {% include 'barre_de_navigation.html.twig' %}
    <div class="acceuil-form">
        <h3 class="nov">Nouveautés</h3>

        <div class="post-container">

            {% for annonce in annonces %}
                <div class="last-post">
                    <div class="image-jeu">
                        {#{{annonce.imageAnnonces.name}}#}
                        <button class="btn-jeu" onclick="window.location.href='{{path('app_annonce', {'id': annonce.id}) }}';">Voir le jeu</button>
                    </div>
                    <div class="description">
                        <div class="date-form">
                            <p class="date-txt text">Date</p>
                            <p class="date text">{#{{annonce.time}}#}</p>
                        </div>
                            <p class="date-txt text">{{ annonce.title }}</p>
                            <p class="descri-jeu text">{{ annonce.content }}</p>
                    </div>
            {% else %}

            {% endfor %}
        </div>

    </div>

{% endblock %}