{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset ('css/acceuil.css') }}">

{% endblock %}

{% block body %}
    {% include 'barre_de_navigation.html.twig' %}
    <div class="acceuil-form">
        <h3 class="nov">Nouveautés</h3>

        <div class="post-container">

            {% for annonce in annonces %}
                <div class="last-post">
                    <div class="image-jeu">
                        {#{{annonce.images}}#}
                        <button class="btn-jeu" onclick="window.location.href={{path('app_Acceuil')}}">Voir le jeu</button><!--A modifier le path-->
                    </div>
                    <div class="description">
                        <div class="date-form">
                            {{annonce.time}}
                        </div>
                        {{ annonce.title }}
                        {{ annonce.content }}
                    </div>
            {% else %}

            {% endfor %}


            {#<div class="last-post">
                <div class="image-jeu">
                    <img class="img-jeu" src="{{ asset ('images/test.jpg') }}"><!--modi accées bd-->
                    <button class="btn-jeu" onclick="window.location.href='jeu'">Voir le jeu</button>
                </div>
                <div class="description">
                    <div class="date-form">
                        <p class="date-txt text">Date</p>
                        <p class="date text">20/25/2003 {# {{ app.jeu.date }} </p><!--modif accés basse-->
                    </div>
                    <p class="text titredes">Description</p>
                    <p class="descri-jeu text">Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut tractus unius soli illis umquam placet.{# {{ app.jeu.description }} </p><!--modif-->
                </div>
            </div>
            <div class="last-post">
                <div class="image-jeu">
                    <img class="img-jeu" src="{{ asset ('images/test.jpg') }}"><!--modi accées bd-->
                    <button class="btn-jeu" onclick="window.location.href='jeu'">Voir le jeu</button>
                </div>
                <div class="description">
                    <div class="date-form">
                        <p class="date-txt text">Date</p>
                        <p class="date text">20/25/2003 {# {{ app.jeu.date }} </p><!--modif accés basse-->
                    </div>
                    <p class="text titredes">Description</p>
                    <p class="descri-jeu text">Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut tractus unius soli illis umquam placet.{# {{ app.jeu.description }}</p><!--modif-->
                </div>
            </div>
            <div class="last-post">
                <div class="image-jeu">
                    <img class="img-jeu" src="{{ asset ('images/test.jpg') }}"><!--modi accées bd-->
                    <button class="btn-jeu" onclick="window.location.href='jeu'">Voir le jeu</button>
                </div>
                <div class="description">
                    <div class="date-form">
                        <p class="date-txt text">Date</p>
                        <p class="date text">20/25/2003 {# {{ app.jeu.date }} </p><!--modif accés basse-->
                    </div>
                    <p class="text titredes">Description</p>
                    <p class="descri-jeu text">Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut tractus unius soli illis umquam placet.{# {{ app.jeu.description }}</p><!--modif-->
                </div>
            </div>
            <div class="last-post">
                <div class="image-jeu">
                    <img class="img-jeu" src="{{ asset ('images/test.jpg') }}"><!--modi accées bd-->
                    <button class="btn-jeu" onclick="window.location.href='jeu'">Voir le jeu</button>
                </div>
                <div class="description">
                    <div class="date-form">
                        <p class="date-txt text">Date</p>
                        <p class="date text">20/25/2003 {# {{ app.jeu.date }}</p><!--modif accés basse-->
                    </div>
                    <p class="text titredes">Description</p>
                    <p class="descri-jeu text">Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut tractus unius soli illis umquam placet.{# {{ app.jeu.description }} </p><!--modif-->
                </div>
            </div>
            <div class="last-post">
                <div class="image-jeu">
                    <img class="img-jeu" src="{{ asset ('images/test.jpg') }}"><!--modi accées bd-->
                    <button class="btn-jeu" onclick="window.location.href='jeu'">Voir le jeu</button>
                </div>
                <div class="description">
                    <div class="date-form">
                        <p class="date-txt text">Date</p>
                        <p class="date text">20/25/2003 {# {{ app.jeu.date }} </p><!--modif accés basse-->
                    </div>
                    <p class="text titredes">Description</p>
                    <p class="descri-jeu text">Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel turbidis rebus: nec eorum quisquam aliquando stivam adprehendit vel arborem colit aut arva subigendo quaeritat victum, sed errant semper per spatia longe lateque distenta sine lare sine sedibus fixis aut legibus: nec idem perferunt diutius caelum aut tractus unius soli illis umquam placet.{# {{ app.jeu.description }}</p><!--modif-->
                </div>
            </div>#}
        </div>

    </div>

{% endblock %}