{% extends 'base.html.twig' %}

{% block title %}Postez votre jeu{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}">

{% endblock %}

{% block body %}
    <div class="jeu-form">
        <div class="jeu">
            {{ form_start(form,{'method': 'POST'}) }}
            <h3 class="text-titre">Postez votre jeu</h3>
            <div class="descrip">
                <p class="text">Entrez le titre de votre jeu*</p>
                {{ form_row(form.title)}}
                <p class="txt-padding text">Entrez une bref description de votre jeu*</p>
                {{ form_row(form.content)}}
            </div>
            <div class="tag_form">
                <p class="tag text txt-padding">Ajouter les tags, séparé d'une virgule</p>
                <div id="tag-list" class="list-tag">
                    <button type="button" id="1" onclick="suppr(1)" class="btn-tag" aria-label="Retirer Aventure de la liste">Aventure</button>
                    <button type="button" id="2" onclick="suppr(2)" class="btn-tag" aria-label="Retirer Action de la liste">Action</button>
                    <button type="button" id="3" onclick="suppr(3)" class="btn-tag" aria-label="Retirer Course de la liste">Course</button>
                    <button type="button" id="4" onclick="suppr(4)" class="btn-tag" aria-label="Retirer FPS de la liste">FPS</button>
                    <button type="button" id="5" onclick="suppr(5)" class="btn-tag" aria-label="Retirer Combat de la liste">Combat</button>
                    <button type="button" id="6" onclick="suppr(6)" class="btn-tag" aria-label="Retirer MMO/MMORPG de la liste">MMO/MMORPG</button>
                    <button type="button" id="7" onclick="suppr(7)" class="btn-tag" aria-label="Retirer Simulation de la liste">Simulation</button>
                    <button type="button" id="8" onclick="suppr(8)" class="btn-tag" aria-label="Retirer Plate-forme de la liste">Plate-forme</button>
                    <button type="button" id="9" onclick="suppr(9)" class="btn-tag" aria-label="Retirer Réflexion de la liste">Réflexion</button>
                    <button type="button" id="10" onclick="suppr(10)" class="btn-tag" aria-label="Retirer Stratégie de la liste">Stratégie</button>
                    <button type="button" id="11" onclick="suppr(11)" class="btn-tag" aria-label="Retirer Autre de la liste">Autre</button>
                </div>
                
            </div>
            <div class="image-jeu">
                <img class="img-jeu" id="profileDisplay" onclick="triggerClick()" src="{{ asset('images/test.jpg') }}">
                <label class="text" for="profileImage">Choisissez une image</label>
                {#<input class="file text" type="file" name="profileImage" onchange="displayImage(this)" id="profileImage" style="display: none;"  accept=".jpg, .jpeg, .png" required="required"/>#}
                {{ form_row(form.images)}}
            </div>
            <div class="telecharger">
                <p class="text-telechargement txt-padding text">Ajoutez votre jeu en éxécutable</p>
                {{ form_row(form.files)}}
            </div>
            <div class="validation">
                <button type="submit" class="btn">Valider</button>
                <button type="button" onclick="window.location.href='{{path('app_post')}}';" class="btn">Annuler</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script src="{{ asset('Scripts/afficheImage.js') }}"></script>
    <script src="{{ asset('Scripts/suppr.js') }}"></script>
{% endblock %}