{% extends 'base.html.twig' %}

{% block title %}Page du profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset ('css/profil.css') }}">
{% endblock %}

{% block body %}
    {% include 'barre_de_navigation.html.twig' %}
    <div id="profile-form">
        
        <div id="profile">
            <div id="logos-top">
                <button id="deconnection" class="icon-top" type="button" onclick="window.location.href='{{path('app_logout')}}' ;"></button>
                <div id="photo-profil">
                    {% if app.user.images %}
                        {% for image in app.user.images %}
                            <img class="img-profile" src="{{ asset('/uploads/image_profils/' ~ image.name) }}">
                        {% endfor %}
                    {% else %}
                        <img class="img-profile" src="{{ asset ('images/img_default.jpg') }}" />
                    {% endif %}
                </div>
                <button id="modif" class="icon-top" type="button" onclick="window.location.href='{{path('app_EditProfile')}}';"></button>

            </div>

            <div id="user-info">
                <div id="info-static">
                    <strong>
                        <p class="static-text text">Nom d'utilisateur</p>
                        <p class="static-text text">Mot de passe</p>
                    </strong>
                </div>
                <div id="info-dynamic">
                    <p class="dynamic-text text">{{ app.user.username }}</p>
                    <p class="dynamic-text text" >non affiché</p>
                </div>
                <a href="{{ path('app_EditProfileImage') }}" class="nav-link">modifier image de profil</a>
            </div>
        </div>
    </div>
{% endblock %}