{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profilModif.css') }}">
{% endblock %}

{% block body %}
    {% include 'barre_de_navigation.html.twig' %}
    <div id="profile-form">
        <div class="profile">
        {{ form_start(form) }}
            <div id="modif-img">
                <div id="photo-profil">
                    {% if app.user.images %}
                        {% for image in app.user.images %}
                            <div>
                                <img class="img-profile" src="{{ asset('/uploads/image_profils/' ~ image.name) }}">
                                <a href="{{ path('app_EditProfileImage_Delete', {id: image.id}) }}"
                                data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">supprimer image actuel</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <img class="img-profile" src="{{ asset ('images/img_default.jpg') }}" />
                    {% endif %}

                    <label class="text" for="profileImage">Choisissez une image carré de préférence</label>
                    {{ form_row(form.image) }}

                </div>
            </div>

                <div class="validation-form">
                    <div class="validation">
                        {{ form_row(form.valider, {label: "Valider",'label_attr': {'class': 'bg'}}) }}
                        {#<button class="bg" type="submit">Valider</button>#}
                        <button class="bg" type="button" onclick="window.location.href='{{path('app_Profile')}}';">Annuler</button>
                    </div>
                </div>
            
        {{ form_end(form) }}

        </div>
    </div>
    <script src="{{ asset ('Scripts/afficheImage.js') }}"></script>
    <script src="{{ asset ('Scripts/deleteImage.js') }}"></script>
{% endblock %}